@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome to POC</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div style="margin-left:5px;">
<strong> Application in Dot Net Core with Microservice</strong><br />
<br />

Microservices are an architectural and organizational approach to software development where software is composed of small independent services that communicate over well-defined APIs. These services are owned by small, self-contained teams.
<br /><br />
Microservices architectures make applications easier to scale and faster to develop, enabling innovation and accelerating time-to-market for new features.
</div>
<br />
<br />
<h1>Architecture of Microservices</h1>
<img style="width:50%;" src="https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2018/02/microservice-architecture-What-Are-Microservices-edureka-1.png" />
